<h2 class="section-title">About Me</h2>

<div class="about-me-container">
  <!-- Tarjeta de la imagen -->
<div class="image-card" [@rotateOnHover]="imageState"
     (mouseover)="rotateImage('rotated')" 
     (mouseleave)="rotateImage('default')">
  <img src="https://i.ibb.co/G44D9G78/1.png" alt="Foto de perfil de Juan Manuel Chávez Peralta" />
</div>


  <!-- Tarjeta de la información -->
  <div class="about-me-card">
    <div class="card-content">
      <h3 class="card-title">Juan Manuel Chávez Peralta</h3>
      <p class="card-text">
        Computer Science graduate at Universidad Autónoma de Baja California, with experience in software development and database management. I have worked with technologies such as C#, .NET, Java, SQL, and frameworks like Spring and Spring Boot, collaborating on web development projects and database maintenance. 
        Passionate about programming and problem-solving, always seeking to improve my skills in web development and enterprise applications.
      </p>
      <div class="card-footer">
       <div class="tech-icons">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML5">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS3">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" alt="Spring">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" alt="C#">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original.svg" alt=".NET">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" alt="MySQL">
  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" alt="SQLite">
  
  <!-- Angular -->
  <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Angular">
  
  
  <!-- Git -->
  <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Git_icon.svg" alt="Git">
  
</div>
      </div>
    </div>
  </div>
</div>