<section id="projects" class="section projects">
  <div class="container">
    <h1 class="title-section">Projects</h1>
    <div class="cards-container">
      <div class="card" *ngFor="let project of projects">
        <!-- Imagen como fondo -->
        <div
          class="image-container"
          [ngClass]="{ 'no-blur': project.id === 4 }"
          [style.background-image]="'url(' + project.images[0] + ')'"
        ></div>

        <!-- Contenido de la tarjeta -->
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description }}</p>
        </div>

        <!-- Footer opcional -->
        <div class="card-footer">
          <button class="btn">See more</button>
        </div>
      </div>
    </div>
  </div>
</section>
