<!-- Fondo animado con Canvas -->
<canvas id="animated-background"></canvas>

<!-- Navegación -->
<header>
  <app-navbar></app-navbar>
</header>

<!-- Sección: Home -->
<section id="home" class="section home-section">
  <app-home></app-home>
</section>

<!-- Sección: About Me -->
<section id="about" class="section about-section">
  <app-about-me></app-about-me>
</section>

<!-- Sección: Proyectos -->
<section id="projects" class="section projects-section">
  <app-projects></app-projects>
</section>


<section id="timeline" class=" timeline-section">
  <app-timeline></app-timeline>
</section>
<!-- Account Sync -->