/* Fondo animado con canvas */
#animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* detrás de todo */
  background-color: black; /* Fondo negro */
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 90vh; /* Reduce el espacio entre secciones */
  margin-bottom: -20px; /* Reduce separación vertical */
}

.timeline-section {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: auto;
  padding: 20px 0; /* Reduce el espacio superior e inferior */
  margin-bottom: -20px; /* Junta aún más los elementos */
}

/* Ajusta márgenes globales de secciones */
.container {
  margin: 0 auto;
  padding: 10px 0;
}