
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<a href="https://drive.google.com/uc?export=download&id=1gaXJh9E64ZBNODXhJc96pne7KzzCnZt4" class="animated-button1" download>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <i class="fas fa-file-alt" style="margin-right: 8px;"></i> View my CV
</a>

<a href="mailto:juanitochambiando@gmail.com" class="animated-button1">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <i class="fas fa-envelope" style="margin-right: 8px;"></i> Contact Me
</a>
