
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <div class="home-container">
        <div class="home-container">
            <h1>Hi, I'm <span class="highlight">Juan Chávez</span> <span class="wave">👋</span></h1>
            <h2>
              <span class="highlight">Fullstack Developer</span>
              <span class="description">that loves transforming innovative solutions into web applications.</span>

            </h2>
            <div class="actions">
              <a href="/assets/tu-cv.pdf" download class="btn resume">
                <i class="fas fa-file-download"></i> Resume
              </a>
              <a href="#projects" class="btn portfolio">
                Portfolio →
              </a>
            </div>
          </div>
      
        


      </div>
      
      