<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  rel="stylesheet"
/>

<div class="home-container">
  <div class="home-container">
    <h1>
      Hi, I'm <span class="highlight">Juan Chávez</span>
      <span class="wave">👋</span>
    </h1>
    <h2>
      <span class="highlight">Fullstack Developer</span>
      <span class="description">
        that loves transforming innovative solutions into web applications.
      </span>
    </h2>

    <!-- Datos de contacto -->
    <div class="contact-info">
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:juanitochambiando@gmail.com">juanitochambiando&#64;gmail.com
      </a>
      </p>
      <p>
        <i class="fas fa-phone-alt"></i>
        <a href="tel:+526645947040">+52 (664) 594 - 7040</a>
      </p>
    </div>

    <app-button-home></app-button-home>
  </div>
</div>
<style>
</style>